.env

# everything in the src/__pycache__/
__pycache__/

src/agents/utils/__init__.py

# everything in the tests/__pycache__/
tests/__pycache__/

# everything in the tests/fixtures/vcr_cassettes/
tests/fixtures/vcr_cassettes/
